<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <app-transactions-header></app-transactions-header>

  <!-- Search Input -->
  <div class="mb-4">
    <!-- (input)="table.filterGlobal($event.target.value, 'contains')"  -->
    <input 
      pInputText 
      type="text" 
      (input)="applyFilterGlobal($event, 'contains')"
      placeholder="Pesquisar transações..." 
      class="w-full p-inputtext-sm"
    />
  </div>

  <p-table 
    #table
    [value]="transactions" 
    [rows]="10" 
    [paginator]="true" 
    [loading]="loading" 
    [rowsPerPageOptions]="[10, 25, 50]" 
    [globalFilterFields]="['transaction_amount', 'status', 'payment_method', 'payment_id']" 
    [rowHover]="true"
      styleClass="!bg-blue-50"
       styleClass="p-datatable-sm"
    class="!bg-background"
  >
    <ng-template pTemplate="header" styleClass="!bg-background"
    class="!bg-background">
      <tr  styleClass="!bg-background"
    class="!bg-background">
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="transaction_amount">Valor <p-sortIcon field="transaction_amount"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="payment_method">Metodo de pagamento <p-sortIcon field="payment_method"></p-sortIcon></th>
        <th pSortableColumn="payment_id">ID do pagamento <p-sortIcon field="payment_id"></p-sortIcon></th>
        <th pSortableColumn="createdAt">Atualizado em <p-sortIcon field="createdAt"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.transaction_amount | currency: 'BRL' }}</td>
        <td>
          <p-tag [value]="transaction.status" [severity]="getSeverity(transaction.status)"></p-tag>
        </td>
        <td>{{ transaction.payment_method }}</td>
        <td>{{ transaction.payment_id }}</td>
        <td>{{ transaction.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No transactions found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
